<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>ActualizarUsuario</title>
</head>
<body>
    <header>
        <div id="header">
            <h1 id="nombre-app">PraxInTec</h1>
            <nav class="navmenu">
                <a class="refmenu" href="#">Inicio</a>
                <a class="refmenu" href="#">Vista 1</a>
                <a class="refmenu" href="#">Vista 2</a>
                <a class="refmenu" href="#">Vista 3</a>
            </nav>
    
        </div>
    </header>
    <h2>Actualizar Datos</h2>
    <div id="campos" class="container-filters">
        <form action="get" id="formulario" name="fornulario">
            <legend> <u>Información Usuario</u> </legend>
            <hr> <br>
            <div class="">
    
                <label for="IDusuario">ID Usuario</label>
                <input type="text" id="IDUsuario" readonly  disabled value="ID_Usuario">
                <label for="tipo">Tipo Usuario</label>
                <input name="role" id="role" readonly  disabled value="role">
                <br><br>
    
    
                <div>
                    <label for="identification">Identificación</label>
                    <input type="text" required id="identification" value="No. Documento"placeholder="identification"><br>
                </div><br><br>
    
            </div>
    
            <div id="datospersonal">
                <legend><u>Datos Personales</u></legend>
                <hr> <br>
    
                <label for="name">Nombres</label> 
                <input type="text" required id="name"value="Ingrese Nombre"placeholder=" Ingrese Nombre">
                <label for="LastName">Apellidos</label>
                <input type="text" required id="LastName" value="Ingrese Apellidos"placeholder="Ingrese Apellidos">
                <br><br> <br>
    
                </div>
    
    
    
    
    
    
    
            </div>
    
    
    
    
    
            <div id="Contactos">
                <legend><u>Datos De Ingreso</u></legend>
                <hr><br><br>
                <label for="mail"></label>Email</label>
                <input type="text" id="mail">
                <label for="Password">Contraseña</label>
                <input type="text" id="password">
            </div> <br>
    
    
    
        </form>
    
    </div>
    <div class="botones">
        <button form="formulario" type="reset" class="small-button-submit">Cancelar</button>
        <button form="formulario" type="submit" class="small-button-submit">Actualizar</button>
      
    </div>
    
    </body>
    
    </html>
