<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Listar Usuarios</title>
</head>
<body>
    <header>
        <div id="header">
            <h1 id="nombre-app">PraxInTec</h1>
            <nav class="navmenu">
                <a class="refmenu" href="#">Inicio</a>
                <a class="refmenu" href="#">Vista 1</a>
                <a class="refmenu" href="#">Vista 2</a>
                <a class="refmenu" href="#">Vista 3</a>
            </nav>
    
        </div><br><br>
    </header>

    <div id="campos">
        <fieldset>
          <legend><u>Consulta de Usuarios</u></legend>
          
          <label for="IDusuario">ID Usuario</label>
          <input type="text" id="IDUsuario" value="ID_Usuario">
          <label for="identification">Identificación</label>
          <input type="text" required id="identification" value="No. Documento"placeholder="identification"><br>
          <div id="div-rolusuario"><br><br>

            <label for="role">Tipo Usuario:</label>

            <select name="role" id="role" required>
                <option value="">--seleccion--</option>
                <option value="Todos">Todos</option>
                <option value="Administrador">Administrador</option>
                <option value="Lider">Lider</option>
                <option value="Estudiante">Estudiante</option>
            </select>

        </div>
        <div id="div-rolusuario"><br><br>

            <label for="estado">Estado Usuario:</label>

            <select name="Estado" id="estado" required>
                <option value="">--seleccion--</option>
                <option value="todos">Todos</option>
                <option value="autorizado">Autorizado</option>
                <option value="noAutorizado">No Autorizado</option>
                <option value="pendiente">Pendiente</option>
            </select>

        </div>
        
        </fieldset>

        <div class="botones">
            <button class="small-button-submit" title="Filtrar">
              <i class="fa fa-pencil-square-o"></i>
              Filtrar
            </button>
          </div>
      </div>
      <h2>Lista Usuario</h2>
      <div id="recuadro">
  
          <table>
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Identificación</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Email</th>
                      <th>Rol</th>
                      <th>permiso</th>
                      <th>Editar</th>
                  </tr>
              </thead>
              <tbody id="tabla">
                  <tr>
                      <td>001</td>
                      <td>00000</td>
                      <td>abc</td>
                      <td>xyz</td>
                      <td>xxx@xx.xx</td>
                      <td>Administrador</td>
                      <td><select name="Estado" id="estado" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="autorizado">Autorizado</option>
                        <option value="noAutorizado">No Autorizado</option>
                    </select></td>
                    <td><a href="ActualizarUsuario.html">
                        <button class="table-button" title="Actualizar">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                        </button></td>
                  </tr>
      
                  <tr>
                      <td>002</td>
                      <td>00000</td>
                      <td>abc</td>
                      <td>xyz</td>
                      <td>xxx@xx.xx</td>
                      <td>Administrador</td>
                      <td><select name="Estado" id="estado" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="autorizado">Autorizado</option>
                        <option value="noAutorizado">No Autorizado</option>
                    </select></td>
                    <td><a href="ActualizarUsuario.html">
                        <button class="table-button" title="Actualizar">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                        </button></td>
                  </tr>
                  <tr>
                      <td>003</td>
                      <td>00000</td>
                      <td>abc</td>
                      <td>xyz</td>
                      <td>xxx@xx.xx</td>
                      <td>Administrador</td>
                      <td><select name="Estado" id="estado" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="autorizado">Autorizado</option>
                        <option value="noAutorizado">No Autorizado</option>
                    </select></td>
                      <td><a href="ActualizarUsuario.html">
                          <button class="table-button" title="Actualizar">
                              <i class="fa fa-pencil-square-o"></i>
                            </a>
                          </button></td>
                  </tr>
              </tbody>
          </table>
      </div>
    </body>
    
    </html>
