<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <title>PraxInTec</title>
        <link rel="stylesheet" href="../../css/base.scss"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="container-image" style="background-image: url('../../images/image-login.png');">
            </div>
            <div class="small-container">
                <div class="div-formulario">
                    <span>
                        <img src="../assets/images/logopeque.png"/>
                    </span>
                    <h2 class="title">INICIAR SESIÓN</h2>
                    <h5>Debes verificar tu identidad para poder continuar</h5>
                    <br>
                    <form>  
                        <div>                     
                            <input type="text" id="usuario" class="input-text" required placeholder="Usuario"/><br><br>
                            <input type="password" id="psw" class="input-text" required placeholder="Contraseña"/>
                        </div><br><br>
                        
                        <div>
                        
                            <label class ="form-check-label"> ¿No tienes cuenta aún?   <a href="CrearUsuario.html"> Registrese</a>
                        </div>
                        <br><br>

                        <div>
                            
                            <button type="submit" class="button-submit"> 
                                Ingresar
                            </button>    
                        </div>
                        <br><br>
                        
                    </form> 
        
                    
                </div>  
            </div>
        </div>
            
    </body>
</html>
